.root {
  .container {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      margin-bottom: 4rem;
      max-width: 100%;
      text-align: center;
      padding-left: .6rem;
      padding-right: .6rem;
    }

    .card {
      width: 100%;
    }
  }
}